@font-face {
  font-family: "mak";
  src: local("MAK-bold"), url("../assets/fonts/MAK-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "mak";
  src: local("MAK-light"), url("../assets/fonts/MAK-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #dedede;
  background-image: url(../assets/images/noise.png), url(../assets/images/bg.png);
  background-position: 0 0, 0 0;
  background-size: auto, 100% auto;
  background-repeat: repeat, repeat-y;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.375;
  overflow-x: hidden;
  padding-top: 147px;
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.page-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
a {
  color: #1f1e1e;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
button {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 40px;
  border: 1px solid #1f1e1e;
  background-color: transparent;
  outline: none;
  color: #1f1e1e;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  overflow: hidden;
  cursor: pointer;
}
.button:active {
  background-color: #1f1e1e;
  color: #ffffff;
}
.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  height: 0;
  font-weight: 600;
  font-size: 16px;
  color: #1f1e1e;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.link:hover {
  color: #bc3324;
}
.link:active {
  color: #bc3324;
}
.link__icon {
  margin-left: 20px;
}
.title {
  margin: 0 0 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 45px 9px;
  max-width: 624px;
  width: 100%;
  text-align: center;
  background-color: #1F1E1E;
  text-transform: uppercase;
  font-family: 'Lora';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
}
.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 54px;
}
.contact-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 110px;
  background-color: #1f1e1e;
  color: #bc3324;
}
.contact-item__title {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
  color: #1f1e1e;
}
.contact-item__info {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: #1f1e1e;
}
.contact-item__info[href] {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.contact-item__info[href]:active {
  color: #bc3324;
}
.card-event {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.card-event__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.card-event__link:hover .card-event__title {
  color: #a51505;
  text-decoration-color: #a51505;
}
.card-event__picture {
  position: relative;
  display: block;
  margin-bottom: 25px;
}
.card-event__picture::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 107.16%;
}
.card-event__picture-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-event__title {
  margin: 0;
  min-height: 64px;
  text-decoration: underline;
  text-decoration-color: transparent;
  font-family: 'Open Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #1F1E1E;
  -webkit-transition: color 0.2s, text-decoration-color 0.23s;
  transition: color 0.2s, text-decoration-color 0.23s;
}
.card-event__text {
  margin: 15px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #1F1E1E;
}
.card-event__time {
  margin-top: auto;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #1F1E1E;
}
.listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 120px 60px;
}
.listing__card-event {
  max-width: 405px;
  width: calc(33.333% - 40px);
}
.reserve {
  display: grid;
  gap: 65px 11%;
  grid-template-columns: 405px calc(89% - 405px);
  grid-template-areas: "checks scheme" "order legend";
  width: 100%;
}
.reserve__checks {
  grid-area: checks;
}
.reserve__order {
  grid-area: order;
}
.reserve__scheme {
  grid-area: scheme;
}
.reserve__legend {
  grid-area: legend;
}
.main-header {
  padding: 100px 0;
}
.main-header__title {
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 0 70px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lora', 'sans-serif';
  font-weight: 400;
  font-size: 45px;
  line-height: normal;
  color: #1F1E1E;
}
.main-header__text {
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  max-width: 948px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lora', 'sans-serif';
  font-weight: 400;
  font-size: 45px;
  line-height: normal;
  color: #1F1E1E;
}
.main-header__picture {
  display: block;
  margin-bottom: 70px;
  position: relative;
  width: 100%;
}
.main-header__picture::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 16.927%;
}
.main-header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.events {
  padding-top: 147px;
}
.events__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1414px;
  width: 100%;
}
.events__title {
  -ms-flex-item-align: center;
      align-self: center;
}
.event {
  padding: 40px 0 150px;
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px;
  z-index: 100;
}
.page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(222, 222, 222, 0.5);
}
@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .page-header::before {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: rgba(222, 222, 222, 0.5);
  }
}
.page-header__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__logo {
  display: inline-block;
  width: 202px;
  height: 147px;
}
.page-header__logo-icon {
  width: 100%;
  height: 100%;
}
.page-header__nav {
  display: inline-block;
}
.page-header__nav-link {
  margin: 0 25px;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}
.page-header__user-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 40px;
  border: 1px solid #1F1E1E;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
  color: #1F1E1E;
  text-decoration: none;
  background-color: transparent;
}
.about {
  padding-bottom: 90px;
}
.about__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__title {
  margin: 0 0 50px;
  font-size: 44px;
  font-weight: 700;
  color: #1f1e1e;
}
.about__title--w868 {
  min-width: 868px;
  width: 100%;
}
.about__title--2 {
  grid-area: title;
}
.about__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 100px;
  min-width: 870px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  color: #1f1e1e;
}
.about__text--2 {
  grid-area: text;
  margin-left: auto;
}
.about__text--mb90 {
  margin-bottom: 90px;
}
.about__picture {
  grid-area: picture1;
  position: relative;
  display: block;
}
.about__picture::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 66.322%;
}
.about__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__block2 {
  display: grid;
  grid-template-areas: "picture1 picture1 picture2" "title title picture2" "text text text";
  gap: 60px;
  grid-template-columns: 1fr 1fr 404px;
}
.about__picture2 {
  grid-area: picture;
  align-self: flex-end;
  position: relative;
  display: block;
}
.about__picture2::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 122.029%;
}
.about__block3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 60px;
}
.about__picture3 {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  max-width: 930px;
  width: 100%;
  padding: 18px 9px 0 49px;
}
.about__picture3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65%;
  background-color: #bc3324;
}
.about__picture3::after {
  content: "";
  display: block;
  width: 1000%;
  padding-top: 40.86%;
}
.about__img2 {
  position: absolute;
  top: 18px;
  left: 49px;
  right: 9px;
  bottom: 0;
  width: calc(100% - 58px);
  -o-object-fit: contain;
     object-fit: contain;
}
.about__block3-wrapper {
  max-width: 344px;
  width: 100%;
}
.page-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 0 75px;
}
.page-footer__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.page-footer__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.page-footer__border::before,
.page-footer__border::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 2px;
  width: 2px;
}
.page-footer__border::before {
  margin-right: 50px;
  background: -webkit-gradient(linear, right top, left top, from(#1C1B1B), color-stop(82.86%, rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 82.86%);
}
.page-footer__border::after {
  margin-left: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#1C1B1B), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 100%);
}
.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-footer__nav {
  margin-right: 30px;
  position: relative;
  padding-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}
.page-footer__nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #bc3324;
}
.page-footer__nav-link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1f1e1e;
}
@media (hover: hover) {
  .button:hover {
    background-color: #1f1e1e;
    color: #ffffff;
  }
  .contact-item__info[href]:hover {
    color: #bc3324;
  }
  .page-footer__nav-link:hover {
    color: #bc3324;
  }
}
